#cerceve{
    position: relative;
    top: 150px;
    border: 5%;
    border-radius: 2%;
    background-color: #F2F2F2;
    color: #181818;
    height: 600px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
}
.form-control:hover{
    box-shadow:0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.sol{ width: 200px;
    border-top:1px solid #181818;   
}
.kategoriSinir{
    border-top:1px solid #181818;
}